<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<div>{% include "header.html" %}</div>
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-high">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <div class="bg-primary text-dark text-center p-3">
                        <h1 class="m-0">Agenda</h1>
                    </div>
                </div>
                <div class="row align-items-high">
                <table class="display-5 table text-right">
                    <div class="col-lg-7">
                        <tr>
                            <th></th>
                            <th>----</th>
                            <th>----</th>
                        </tr>
                        <tr>
                            <th class="table-primary align-middle">Segunda</th>
                            <td class="align-middle">13h30:
                                <p>---</p>
                            </td>
                            <td>18h:
                                <p>----</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-primary align-middle">Terça</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="table-primary align-middle">Quarta</th>
                            <td>13h30:<p>----</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="table-primary align-middle">Quinta</th>
                            <td></td>
                            <td>7h:
                                <p>------</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-primary align-middle">Sexta</th>
                            <td>7h:
                                <p>----</p>
                            </td>
                            <td></td>
                        </tr>
                    </div>
                </table>
                </div>
            </div>
        </div>
    </div>
<div>{% include "footer.html" %}</div>
</html>

