<!DOCTYPE html>
<html lang="en">
{% load static %}
<div class="container-fluid pt-2">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">classificados</h6>
                <h1 class="mb-4">Confira nossos anúncios</h1>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="/anuncios/1/" class="btn btn-primary py-4 px-0"><div>apartamentos</div>
                            </a>
                        </div>
                        </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="/anuncios/2/" class="btn btn-primary py-4 px-4">automóveis</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="/anuncios/3/" class="btn btn-primary py-4 px-4">casas</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="/anuncios/4/" class="btn btn-primary py-4 px-4">eletrodomésticos</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="/anuncios/5/" class="btn btn-primary py-4 px-4">eletrônicos</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="/anuncios/6/" class="btn btn-primary py-4 px-5">equipamentos médicos</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="/anuncios/7/" class="btn btn-primary py-4 px-4">imóveis comerciais</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="/anuncios/8/" class="btn btn-primary py-4 px-4">outros</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>
