{% load static %}
<footer>
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white mt-2 py-2 px-sm-2 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-16">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Entre em contato</h3>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>Ramiro Barcelos, 2350</p>

                        <p><i class="fa fa-phone-alt mr-2"></i>51 3359 8169</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-social mr-2" href="https://facebook.com/ashclin.clinicas"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://instagram.com/ashclin.hcpa"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Acesso rápido</h3>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="about.html"><i class="fa fa-angle-right mr-2"></i>Sobre nós</a>
                            <a class="text-white mb-2" href="convenios.html"><i class="fa fa-angle-right mr-2"></i>Convênios</a>
                            <a class="text-white mb-2" href="locacoes.html"><i class="fa fa-angle-right mr-2"></i>Locações</a>
                            <a class="text-white mb-2" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contato</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
        <div class="row">
            <div class="col-lg-6 text-right text-md-left mb-3 mb-md-0">

                <p><a href="https://htmlcodex.com">HTML Codex</a></p>
                <h7><a href="https://www.linkedin.com/in/murillo-masson-605005210/">mm</a></h7>
            </div>
            </div>
        </div>
    </div>
</footer>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    </div>
    </div>
</body>

</html>