<!DOCTYPE html>
{% load static %}
<html lang="en">
    <div class="basic">
{% include "header.html" %}</div>
    <body>
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-high">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <div class="bg-primary text-dark text-center p-3">
                        <h1 class="m-0">Vantagens de se associar:</h1>
                    </div>
                </div>
                <div class="col-lg-7">
                    <h2 class="mb-4">Lazer, diversão e práticas esportivas:
                    </h2>
                    <p class="mb-4"> oferecemos lugares como <b>quadras poliesportivas</b>, <b>pista de caminhada</b>, <b>ambientes para ginástica, dança</b> e mais.
                    </p>

                    <img class="img-fluid w-100" src='{% static "img/quadra.png" %}' alt="quadra-esportiva" width="200" height="300">
                    <p class="mb-4"> </p>
                    <h2 class="mb-4">Atividades e festas em datas comemorativas e sociais:
                    </h2>
                    <p class="mb-4">como no <b> Dia das Mães </b>, <b> Dia dos Pais </b>, <b> Dia das Crianças </b> e mais.
                    </p>
                    <h2 class="mb-4">Renda extra para seu associado: </h2>
                    <p class="mb-4">espaços como <b> Cantinhos do Sócio </b> (Sede Administrativa) ✲ <b> Feirão dos Sócios </b> (Parque Social) ✲ <b> Espaço ILMA para terapeutas </b> e mais.
                    </p>
                    <h2 class="mb-1">Convênios com empresas parceiras de diversos segmentos: </h2>
                    <p class="mb-4">
                        <a href="convenios.html">Confira nossos convênios!</a>
                    </p>
                    <h2 class="mb-1">Promoção para seu aniversário:</h2>
                    <p class="'mb-1">Oferecemos um <b> quiosque gratuito </b> ou um <b>salão com desconto</b>.
                        <a href="locacao.html">Confira os valores!</a>
                    </p>
                    <h2>Empréstimo de equipamentos hospitalares:</h2>
                    <p class="mb-4"><a href="equipamentos.html">Confira disponibilidade!</a>
                    </p>
                    <h2>Práticas de espiritualidade e bem-estar:</h2>
                    <p class="mb-1">Conheça o Espaço ILMA, com salas para <b>Yoga</b>, <b>Reiki</b>, <b>Energização</b>, <b>Massoterapia</b> e mais.
                        O Espaço ILMA também promove palestras e cursos!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Vantagens de se associar end  -->

    <!-- Classificados -->
    <div class="container-fluid pt-2">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">classificados</h6>
                <h1 class="mb-4">Confira nossos anúncios</h1>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="anuncios.html" class="btn btn-primary py-4 px-0">apartamentos</a>
                        </div>
                        </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="anuncios.html" class="btn btn-primary py-4 px-4">automóveis</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="anuncios.html" class="btn btn-primary py-4 px-4">casas</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="anuncios.html" class="btn btn-primary py-4 px-4">eletrodomésticos</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="anuncios.html" class="btn btn-primary py-4 px-4">eletrônicos</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="anuncios.html" class="btn btn-primary py-4 px-4">equipamentos médicos</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="anuncios.html" class="btn btn-primary py-4 px-4">imóveis comerciais</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-primary">
                        <div class="text-center">
                        <div class="bg-primary text-center">
                            <a href="anuncios.html" class="btn btn-primary py-4 px-4">outros</a>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Classificados end -->


    <!-- locação espaços -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Valores</h6>
                <h1 class="mb-4">locações dos espaços</h1>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="bg-secondary">
                        <div class="text-center p-6">
                            <div class="d-flex flex-column align-items-center pt-0 py-1">
                                <p>a partir de</p>
                            </div>
                            <h1 class="display-3 mb-0">
                                <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;">R$</small>486
                            </h1>
                        </div>
                        <div class="bg-primary text-center p-3">
                            <h3 class="m-0">Salão grande</h3>
                        </div>
                        <div class="d-flex flex-column align-items-center pt-0 py-2">
                            <p>até 100 pessoas</p>
                        </div>
                        <div class="d-flex flex-column align-items-center p-0">
                            <a href="locacoes.html" class="btn btn-primary py-2 px-4 my-2">Confira</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-secondary">
                        <div class="text-center p-6">
                            <div class="d-flex flex-column align-items-center pt-0 py-1">
                                <p>a partir de</p>
                            </div>
                            <h1 class="display-3 mb-0">
                                <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;">R$</small>375
                            </h1>
                        </div>
                        <div class="bg-primary text-center p-3">
                            <h3 class="m-0">Salão pequeno</h3>
                        </div>
                        <div class="d-flex flex-column align-items-center pt-0 py-2">
                            <p>até 50 pessoas</p>
                        </div>
                        <div class="d-flex flex-column align-items-center p-0">
                            <a href="locacoes.html" class="btn btn-primary py-2 px-4 my-2">Confira</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-secondary">
                        <div class="text-center p-6">
                            <div class="d-flex flex-column align-items-center pt-0 py-1">
                                <p>a partir de</p>
                            </div>
                            <h1 class="display-3 mb-0">
                                <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;">R$</small>80
                            </h1>
                        </div>
                        <div class="bg-primary text-center p-3">
                            <h3 class="m-0">Quadra poliesportiva</h3>
                        </div>
                        <div class="d-flex flex-column align-items-center pt-0 py-0">
                            <p></p>
                        </div>
                        <div class="d-flex flex-column align-items-center p-0">
                            <a href="locacoes.html" class="btn btn-primary py-2 px-4 my-2">Confira</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-secondary">
                        <div class="text-center p-6">
                            <div class="d-flex flex-column align-items-center pt-0 py-1">
                                <p></p>
                            </div>
                            <h1 class="display-3 mb-0">
                                <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;">R$</small>100
                            </h1>
                        </div>
                        <div class="bg-primary text-center p-3">
                            <h3 class="m-0">Quiosques</h3>
                        </div>
                        <div class="d-flex flex-column align-items-center pt-0 py-2">
                            <p>até 20 pessoas</p>
                        </div>
                        <div class="d-flex flex-column align-items-center p-0">
                            <a href="locacoes.html" class="btn btn-primary py-2 px-4 my-2">Confira</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-secondary">
                        <div class="text-center p-6">
                            <h1 class="display-4 mb-3">
                                gratuito
                            </h1>
                        </div>
                        <div class="bg-primary text-center p-3">
                            <h3 class="m-0">Quiosques abertos</h3>
                        </div>
                        <div class="d-flex flex-column align-items-center pt-0 py-2">
                            <p>até 20 pessoas</p>
                        </div>
                        <div class="d-flex flex-column align-items-center p-0">
                            <a href="locacoes.html" class="btn btn-primary py-2 px-4 my-2">Confira</a>
                        </div>
                    </div>
                </div>
       <!--  Quote Request Start -->
    <div class="container-fluid bg-secondary pt-4 my-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 py-5 py-lg-0">
                    <h6 class="text-primary text-uppercase font-weight-bold">entre em contato</h6>
                    <h1></h1>
                    <h1 class="mb-4">Tire suas Dúvidas</h1>

                    <div class="contact-form bg-secondary" style="padding: 30px;">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control border-0 p-4" id="name" placeholder="Seu Nome"
                                    required="required" data-validation-required-message="Por favor, digite seu nome" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control border-0 p-4" id="email" placeholder="Seu Email"
                                    required="required" data-validation-required-message="Por favor, digite seu email"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control border-0 p-4" id="subject" placeholder="Assunto"
                                    required="required" data-validation-required-message="Por favor, digite o assunto" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control border-0 py-3 px-4" rows="3" id="message" placeholder="Mensagem"
                                    required="required"
                                    data-validation-required-message="Por favor, digite sua mensagem"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quote Request Start -->
            </div>
        </div>
    </div>
    <!-- Locação espaços end -->
        <div class="basic">{% include "footer.html" %}</div>
    </div>
    </body>
</html>