<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<div>{% include "header.html" %}</div>

    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Valores</h6>
                <h1 class="mb-4">locações dos espaços</h1>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="bg-secondary">
                        <div class="bg-primary text-center text-white p-3">
                            <h3 class="m-0">SALÃO GRANDE</h3>
                        </div>
                        <div class="d-flex flex-column align-items-center py-2 ">
                                <p>até 100 pessoas</p>
                            </div>
                            <h4 class="display-3 text-center py-1 mb-3">
                            <small class="align-to p text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>486
                        <small class="align-middle text-muted font-weight-center" style="font-size: 20px"></small>
                            </h4>
                            <h4 class="display-4 text-center px-2 mb-3">
                                <small class="align-top text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>540
                                <small class="align-middle text-muted font-weight-center" style="font-size: 20px">crédito (1x)</small>
                            </h4>
                                <h4 class="display-4 text-center px-2 mb-3">
                                <small class="align-top text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>560
                                <small class="align-middle text-muted" style="font-size: 20px">crédito (3x)</small>
                            </h4>
                        <div class="d-flex flex-column align-items-center p-0">
                            <a href="locacoes.html" class="btn btn-primary py-2 px-4 my-2">Conferir disponibilidade</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-secondary">
                        <div class="bg-primary text-center text-white p-3">
                            <h3 class="m-0">SALÕES PEQUENOS</h3>
                        </div>
                        <div class="d-flex flex-column align-items-center py-2 ">
                            <p>50 pessoas</p>
                        </div>
                        <h4 class="display-3 text-center mb-3 py-1">
                            <small class="align-top text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>378
                            <small class="align-middle text-muted font-weight-center" style="font-size: 20px"></small>
                        </h4>
                        <h4 class="display-4 text-center px-1 mb-3">
                            <small class="align-top text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>420
                            <small class="align-middle text-muted font-weight-center" style="font-size: 20px">crédito (1x)</small>
                        </h4>
                        <h4 class="display-4 text-center mb-3 px-1">
                            <small class="align-top text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>435
                            <small class="align-middle text-muted" style="font-size: 20px">crédito (3x)</small>
                        </h4>
                        <div class="d-flex flex-column align-items-center p-0">
                            <a href="locacoes.html" class="btn btn-primary py-2 px-4 my-3">Conferir disponibilidade</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-secondary">
                        <div class="bg-primary text-center text-white p-3">
                            <h3 class="m-0">QUIOSQUES COBERTOS</h3>
                        </div>
                        <div class="d-flex flex-column align-items-center py-2 ">
                        <p>20 pessoas</p>
                    </div>
                    <h4 class="display-3 text-center mb-3 px-2">
                        <small class="align-top text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>100
                        <small class="align-middle text-muted font-weight-center" style="font-size: 20px"></small>
                    </h4>
                        <div class="d-flex flex-column align-items-center p-0">
                            <a href="locacoes.html" class="btn btn-primary py-2 px-4 my-3">Conferir disponibilidade</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="bg-secondary">
                        <div class="bg-primary text-center text-white p-3">
                            <h3 class="m-0">QUADRAS</h3>
                        </div>
                        <div class="d-flex flex-column align-items-center ">
                        </div>
                        <h4 class="display-4 text-center">
                            <h4 class="display-7 text-center mb-3 py-1">jogo individual
                                <small class="align-middle text-muted font-weight-center" style="font-size: 20px">(sócio)</small>
                            </h4>
                        <h4 class="display-4 text-center">
                            <small class="align-top text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>80
                            </h4>
                        </h4>

                        <h4 class="display-4 text-center">
                            <h4 class="display-7 text-center mb-3 py-1">pacote: 4 jogos
                                <small class="align-middle text-muted font-weight-center" style="font-size: 20px">(sócio)</small>
                            </h4>
                        <h4 class="display-4 text-center">
                            <small class="align-top text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>80
                            </h4>
                        </h4>

                        <h4 class="display-4 text-center py-1 mb-3">
                            <h4 class="display-7 text-center mb-3 py-1">jogo individual
                                <small class="align-middle text-muted font-weight-center" style="font-size: 20px">(não-sócio)</small>
                            </h4>
                        <h4 class="display-4 text-center">
                            <small class="align-top text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>80
                            </h4>
                        </h4>

                        <h4 class="display-4 text-center">
                            <h4 class="display-7 text-center mb-3 py-1">pacote: 4 jogos
                                <small class="align-middle text-muted font-weight-center" style="font-size: 20px">(não-sócio)</small>
                            </h4>
                        <h4 class="display-4 text-center">
                            <small class="align-top text-muted font-weight-medium" style="font-size: 20px; line-height: 45px;">R$</small>80
                            </h4>
                        </h4>
                        <div class="d-flex flex-column align-items-center p-0">
                            <a href="locacoes.html" class="btn btn-primary py-2 px-4 my-3">Conferir disponibilidade</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</body>
<div>{% include "footer.html" %}</div>
</html>