<!DOCTYPE html>
<html lang="en">
{% load static %}
<div>{% include "header.html" %}</div>
    <!-- About Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <h2 class="mb-4">nossa missão é
                    </h2>
                    <p class="mb-4">◉ Humanizar o convívio e o lazer dos associados em busca da qualidade de vida no trabalho, na família e na sociedade;
                    </p>
                    <p class="mb-4">◉ Desenvolver atividades recreativas e esportivas, culturais e de lazer para os associados e dependentes;
                    </p>
                    <p class="mb-4">◉ Oferecer assessoria jurídica visando defender os interesses e reivindicações dos seus associados e dependentes;
                    </p>
                    <p class="mb-4">◉ Prover espaços de cultura , esporte e lazer para os associados e seus dependentes;
                    </p>
                    <p class="mb-4">◉ Estabelecer convênios que visam oferecer vantagens com menor custos aos associados e dependentes.
                    </p>
                    <p class="mb-4">◉ Buscar ser uma referência para seu associado em esporte, cultura, lazer e convívio social.
                    </p>
                    <p class="mb-4">◉ Buscar excelência com responsabilidade, competência, seriedade e transparência em todos os seus seguimentos.
                    </p>
                    <p class="mb-4">◉ Respeito e confiança com os seus associados e dependentes.
                    </p>
                    <a href="" class="btn btn-primary py-1 px-3">Estatuto</a>
                </div>

<div>{% include "footer.html" %}</div>
</html>